.landing-wrap {
  background-color: #2c73d2;
  height: 75vh;
}

.main-wrap {
  color: #eee;
  height: 450px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-wrap h1 {
  font-weight: 300;
  letter-spacing: 1.1px;
  margin-bottom: 20px;
}

.main-wrap h2 {
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.play-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin-top: 70px;
}

.play {
  cursor: pointer;
  width: 70px;
  height: 70px;
  background: #fff;
  border-radius: 50%;
  transition: 0.5s all ease;
  position: relative;
  color: #000;
  position: absolute;
}

.fa-play {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -50%);
}

.hover {
  box-shadow: 0 15px 30px 0 rgb(0 0 0 / 40%);
  top: -4px;
}

.text-landing-wrap {
  color: #fff;
  height: 720px;
  box-shadow: 0 15px 30px 0 rgb(0 0 0 / 20%);
  border-radius: 5px;
  position: relative;
  background-image: linear-gradient(rgba(44, 115, 210, 0.6), rgba(0, 0, 0, 0.6)),
    url(./land_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.hero-text {
  text-align: center;
  color: #000;
  padding: 30px;
  position: absolute;
  width: 40%;
  height: 60%;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 15px 30px 0 rgb(0 0 0 / 50%);
  top: 20%;
  left: 5%;
}

.hero-text h2 {
  font-weight: 300;
}

.hero-text img {
  width: 130px;
}

.start-text {
  color: #000;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  width: 40%;
  height: 60%;
  padding: 30px;
  right: 5%;
  top: 20%;
  box-shadow: 0 15px 30px 0 rgb(0 0 0 / 50%);
}

.start-text Button {
  position: aboslute;
  bottom: 0;
  margin-top: 10px;
}

.achievements-wrap {
  text-align: center;
}

.achievements-main {
  margin: 70px 0px;
}

.number-text {
  margin: 50px 0;
}

.filler-text h3 {
  font-weight: 300;
  margin-bottom: 30px;
}
